:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2.5rem;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    mat-form-field {
      width: 20vw;

      mat-icon {
        color: #605dc8;
        font-size: 2rem;
        padding-right: 1.1rem;
        cursor: pointer;
      }
    }
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
