<form [formGroup]="filterForm">
  <mat-form-field>
    <input matInput formControlName="filter" type="text" placeholder="Filter by city">
  </mat-form-field>
  <mat-icon matSuffix (click)="filterResults()" matTooltip="Filter" matTooltipPosition="above">search</mat-icon>
  <mat-icon (click)="clearFilter()" matTooltip="Clear Filter" matTooltipPosition="above">refresh</mat-icon>
</form>
<section class="result">
  @for (housingLocation of filteredLocationList; track housingLocation) { <app-housing-location
    [housingLocation]="housingLocation"></app-housing-location> }
</section>
